@use './variables' as *;
@import 'modern-normalize/modern-normalize.css';


@font-face {
  font-family: 'Sniglet-Regular';
  src: url('/public/fonts/Sniglet-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
// Ваші глобальні стилі
body {
  font-family: 'Sniglet-Regular', sans-serif;
  background-color: $background-color;
  margin: 0;
  padding: 15px;

}
* {
  box-sizing: border-box;
}

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1, h2, h3 {
  font-family: 'DM Serif Text', serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto; 
  object-fit: contain; 
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

html {
  scroll-behavior: smooth;
}


.body-style {
  max-width: 65%;
  background-color: $background-section;
  border: 6px solid $border-section;
  border-radius: 15px;
  box-shadow: 10px 10px 20px 5px rgba(132, 118, 89, 1);
  padding: 0 40px;
  height: 800px;
  display: block;
  margin: 0 auto;

}
.page{
  position: relative;
  width: 100%;

}

.airpods,
.calendar,
.camera,
.cup,
.glasses,
.globe,
.phone,
.plant,
.sign,
.stone {
  position: absolute;
  display: block;
  object-fit: contain; 
  height: auto;
  filter: drop-shadow(15px 15px 25px rgba(132, 118, 89, 0.9));


}

.airpods{
  width: 90px;
  left: 0;
  top: 75%;
  
}
.calendar{
  width: 250px;
  right: 0;
  bottom: 0;
}
.camera{
  width: 300px;
  right: 0;
  top: 40%;
  
}
.cup{
  width:250px;
  right: 0;
  top: 10%;
}

.glasses{
  width: 350px;
  top: -10%;
  left: -4%;
  
}
.globe{
  width: 80px;
  left: 10%;
  top: 55%;
}

.phone{
  width: 400px;
  bottom: 0;
  left: 0;
  
}
.plant{
  width: 400px;
  left: -7%;
  top: 5%;
  

}
.sign{
  width: 120px;
  right: 10%;
  top: 0;
  
}
.stone{
  width: 100px;
left: 0;
top: 60%;
}
